# M2D-CLAP for XACLE
name: M2D-CLAP2025-XACLE

# XACLE solver parameters
use_clap_audio_feature: True
loss_weight: 1

# AR parameters such as FFT parameters.
audio_repr: ar_m2d.AR_M2D_CLAP
weight_file: m2d_clap_vit_base-80x1001p16x16p16kpBpTI-2025/checkpoint-30.pth
feature_d: 768
sample_rate: 16000
n_fft: 400
window_size: 400
hop_size: 160
n_mels: 80
f_min: 50
f_max: 8000
window: hanning

# Model specific parameters.
output_layers: [-1]  # List of layers to stack
encoder_only: True
dur_frames:  # None for no desired number of frames
freeze_embed:  # Set True if freezing PatchEmbed during fine-tuning [2211.09359] How to Fine-Tune Vision Models with SGD
flat_features: True  # 768-d if True else 3840-d
validate_by_clap_ensemble: True

# Fine-tuning parameters.
freeze_ar: True
training_mask: 0.0
warmup_epochs: 5
mixup: 0.0
ft_bs: 128
ft_lr: 0.0003
ft_early_stop_epochs: -1  # -1: no early stopping
ft_epochs: 100
ft_freq_mask: 40
ft_time_mask: 192
ft_noise: 0.0
ft_rrc: False

